<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-bar-item w3-button" (click)="openDialog()">
      <img src="https://storage.googleapis.com/crud-249315.appspot.com/hotdogv2.jpg" alt="#name" width="110" height="37">
      <span class="w3-padding w3-black w3-opacity-min" ><b>CRUD</b></span></div>

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <button class="w3-bar-item w3-button" (click)="openDialog()" >Add hot-dog</button>
    </div>
  </div>
</div>
<header class="w3-display-container w3-content w3-wide" style="max-width:150px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white">
      <br><br><br>
    </h1>
  </div>
</header>
